<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/header")%>
    <title>首頁</title>
  </head>
  <body>
    <div class="wrap">
      <%- include("layout/nav")%>
      <!-- <%- include("layout/message")%> -->

      <div class="follow">
        <div class="main">
          <h1>已追蹤作者</h1>
          <table>
            <tr>
              <td><a href="#">大明</a></td>

              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
            <tr>
              <td><a href="#">大明</a></td>

              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
            <tr>
              <td><a href="#">大明</a></td>

              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <%- include("layout/footer")%>
    </div>
  </body>
</html>
