<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/header")%>
    <title>登入會員</title>
  </head>
  <body>
    <div class="wrap">
      <%- include("layout/nav")%>
      <div class="login">
        <div id="app" class="main">
          <main_password></main_password>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="main_template">
      <ul>
        <li>
          <p>請輸入您註冊的信箱</p>
        </li>
        <li>
          <label for="mail">信箱</label>
          <input v-model="mail" type="email" name="mail" id="mail" />
        </li>

        <li>
          <button v-on:click="btn_password" class="my-button click">
            <span class="btn"></span> 確認
          </button>
        </li>
      </ul>
    </script>

    <script>
      const app = Vue.createApp().component("main_password", {
        data() {
          return {
            mail: "",
          };
        },
        methods: {
          btn_password() {
            axios
              .post("/api/password", {
                mail: this.mail,
              })
              .then((res) => {
                if (res.status === 201) {
                  const email = res.data.data;
                  alert(`已寄新密碼至信箱 ${email} 請領取新密碼登入`);
                  location.href = "/login";
                }
              })
              .catch((err) => {
                const message = err.response.data.split("錯誤詳細描述")[0];
                alert(message + "密碼寄送失敗，請重新填寫!");
                location.reload();
              });
          },
        },
        template: "#main_template",
      });
      app.mount("#app");
    </script>
  </body>
</html>
