<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/header")%>
    <title>登入會員</title>
  </head>
  <body>
    <div class="wrap">
      <%- include("layout/nav")%>
      <!-- <%- include("layout/message")%> -->
      <div class="update">
        <div class="main">
          <ul>
            <li>
              <label for="name">暱稱</label>
              <input type="text" name="name" id="name" value="大明" />
            </li>
            <li>
              <label for="aboutMe">關於我</label>
              <input type="text" name="aboutMe" id="aboutMe" value="" />
            </li>
            <li>
              <label for="mail">信箱</label>
              <input
                type="email"
                name="mail"
                id="mail"
                value="gigi@gmail.com"
              />
            </li>
            <li>
              <label for="password">密碼</label>
              <input
                type="text"
                name="password"
                id="password"
                placeholder="只能使用英文大小寫、數字、符號: !@#&%_"
              />
            </li>
            <li>
              <label for="repeatPassword">再一次輸入密碼</label>
              <input type="text" name="passwordAgain" id="passwordAgain" />
            </li>
            <li>
              <button class="my-button">
                <span class="btn"></span> 註冊會員
              </button>
            </li>
            <li>
              <button class="my-button">
                <span class="btn"></span> 刪除此帳號
              </button>
            </li>
          </ul>
        </div>
      </div>

      <%- include("layout/footer")%>
    </div>
  </body>
</html>
