<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/header")%>
    <title>首頁</title>
  </head>
  <body>
    <div class="wrap">
      <%- include("layout/nav")%>
      <!-- <%- include("layout/message")%> -->

      <div class="user">
        <div class="main">
          <div class="article">
            <h1>大明</h1>
            <button class="my-button bubbly-button">
              <span class="btn"></span> 追蹤
            </button>
          </div>
          <p>關於我: 我是一隻小小小小鳥</p>
          <table>
            <tr>
              <td><a href="#">蝸牛</a></td>
              <td>分數:0分</td>
              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
            <tr>
              <td><a href="#">蝸牛</a></td>
              <td>分數:0分</td>
              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
            <tr>
              <td><a href="#">蝸牛</a></td>
              <td>分數:0分</td>
              <td>
                <button class="my-button bubbly-button">
                  <span class="btn"></span> 刪除
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <%- include("layout/footer")%>
    </div>
  </body>
</html>
