<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/header")%>
    <title>笑話網 || 輕松一下</title>
  </head>
  <body>
    <div class="wrap">
      <%- include("layout/nav")%>
      <div class="user">
        <div id="app" class="main">
          <main_user></main_user>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="main_template">
      <div class="article">
          <h1>{{name}}</h1>
        </div>
        <p>關於我: {{aboutMe}}</p>
        <table>
            <template v-if="articleArray.length != 0">
                <tr v-for="item in articleArray" >
                    <td><a v-on:click="btn_article(item._id)" href="#">{{item.title}}</a></td>
                    <td>分數:{{item.score || 0}}分</td>
                    <td>
                      <button v-on:click="btn_delete_article(item._id)" class="my-button bubbly-button">
                        <span class="btn"></span> 刪除
                      </button>
                    </td>
                </tr>
            </template>
        </table>
    </script>

    <script>
      $(document).ready(() => {
        const login = localStorage.getItem("Authorization");
        if (login) {
          const userId = localStorage.getItem("userId");
          axios
            .get(`/api/article/${userId}`)
            .then((res) => {
              let author = res.data.data;
              let article =
                res.data.data.article.length == 0 ? [] : res.data.data.article;
              const app = Vue.createApp().component("main_user", {
                data() {
                  return {
                    name: author.username,
                    aboutMe: author.about_me == "null" ? "" : author.about_me,
                    articleArray: article,
                  };
                },
                methods: {
                  btn_article(articleId) {
                    localStorage.setItem(
                      "articleId",
                      JSON.stringify(articleId)
                    );
                    location.href = "/article";
                  },
                  btn_delete_article(articleId) {
                    const token = {
                      authorization: JSON.parse(
                        localStorage.getItem("Authorization")
                      ),
                    };
                    axios
                      .delete(`/api/article/${articleId}`, { headers: token })
                      .then((res) => {
                        if (res.status === 204) {
                          alert("已刪除文章");
                          location.reload();
                        }
                      })
                      .catch((err) => {
                        const message =
                          err.response.data.split("錯誤詳細描述")[0];
                        alert(message + "刪除失敗，請洽管理員!");
                        location.reload();
                      });
                  },
                },
                template: "#main_template",
              });

              app.mount("#app");
            })
            .catch((err) => {
              const message = err.response.data.split("錯誤詳細描述")[0];
              alert(message + "錯誤");
              history.back();
            });
        } else {
          alert("請登入");
          location.href = "/login";
        }
      });
    </script>
  </body>
</html>
