// 背影色
$fromColor: #b499f8;
$endColor: #54d8c0;
// 其他顏色
$navColor: #f0f5f5;
$navFontColor: black;
$fontColor: #550afe;
$btnColor: black;
$btnBackgroundColor: transparent;
$commentColor: #73b7f8;
$hoverColor: #f0f5f5;
$btnHoverColor: #73b7f8;
$navHoverColor: #8e669e;

// 字體大小
$pFontSize: 1.5rem;
$h1FontSize: 3rem;
$navFontSize: 2rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  div.wrap {
    height: 100vh;
    background: -webkit-linear-gradient($fromColor, $endColor);
    overflow-y: auto;
    h1 {
      font-size: $h1FontSize;
    }
    p {
      font-size: $pFontSize;
    }
    button.my-button {
      padding: 0.5rem 1rem;
      color: $btnColor;
      background: $btnBackgroundColor;
      border: dashed 2px $btnColor;
      box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      font-size: $pFontSize;
      margin: 0 0.5rem;
      cursor: pointer;
      position: relative;
      z-index: 0;

      span {
        height: 100%;
        width: 0;
        position: absolute;
        background-color: $btnHoverColor;
        transition: 0.5s;
        z-index: -1;
        left: 0;
        bottom: 0;
      }
      &:hover {
        span {
          width: 100%;
        }
      }
    }

    input {
      font-size: $pFontSize;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      background-color: $btnBackgroundColor;
      height: 40px;
      width: 300px;
      border: dashed 2px $btnColor;
      box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }

    nav {
      position: fixed;
      width: 100vw;
      z-index: 100;
      height: 80px;
      background-color: $navColor;
      padding: 1rem;
      box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        padding: 1rem;
        text-decoration: none;
        color: $navFontColor;
        font-size: $navFontSize;
        &:hover {
          color: $navHoverColor;
        }
      }

      ul {
        list-style: none;
        display: flex;
        li {
          position: relative;
          &:hover {
            div.dropdown_menu {
              width: 200px;
              display: block;
              position: absolute;
              right: -4px;
              background-color: $navColor;
              ul {
                display: flex;
                flex-direction: column;

                li {
                  margin: 0.5rem 0;
                  padding: 0 0.5rem;
                  a {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
          div.dropdown_menu {
            display: none;
          }
        }
      }
    }

    div.message {
      position: absolute;
      top: 130px;
      left: 500px;
      color: red;
    }

    div.loading {
      margin-top: 250px;
      text-align: center;
    }

    div.rating {
      display: flex;
      width: 100%;
      justify-content: center;
      overflow: hidden;
      flex-direction: row-reverse;
      height: 50px;
      position: relative;
    }

    div.rating-0 {
      filter: grayscale(100%);
    }

    div.rating > input {
      display: none;
    }

    div.rating > label {
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-top: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 76%;
      transition: 0.3s;
    }

    div.rating > input:checked ~ label,
    div.rating > input:checked ~ label ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    div.rating > input:not(:checked) ~ label:hover,
    div.rating > input:not(:checked) ~ label:hover ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    div.homepage {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        margin-top: 200px;
        padding: 2rem;
        background: transparent;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        // 主框
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        div.article {
          display: flex;
          flex-direction: column;
          align-items: center;
          div.title {
            display: flex;
            align-items: center;
            h1 {
              margin: 0 0.5rem;
            }
            button {
              margin: 0 0.5rem;
            }
          }
          p {
            margin-top: 1rem;
          }
        }
        div.author {
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: flex;
          align-items: baseline;
          p {
            margin: 0 0.5rem;
          }
          a {
            margin: 0 0.5rem;
            text-decoration: none;
            color: $fontColor;
            font-size: $pFontSize;
            &:hover {
              color: $hoverColor;
            }
          }
        }

        div.score {
          display: flex;
          align-items: center;
          padding-top: 2rem;
          margin: 0.5rem;
          display: flex;
          justify-content: center;

          p {
            margin: 0 0.5rem;
          }
          button {
            margin: 0 0.5rem;
          }
        }

        div.comment {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 46vw;
          padding: 1.5rem;
          margin-top: 1rem;
          // border: 1px solid black;
          div.talk-bubble,
          div.tri-right,
          div.left-top {
            margin: 20px;
            display: inline-block;
            position: relative;
            width: 40vw;
            height: auto;
            background-color: $commentColor;
            border: 8px solid #41403e;
            &::before {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: -40px;
              right: auto;
              top: -8px;
              bottom: auto;
              border: 32px solid;
              border-color: #41403e transparent transparent transparent;
            }
            &::after {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: -20px;
              right: auto;
              top: 0px;
              bottom: auto;
              border: 22px solid;
              border-color: $commentColor transparent transparent transparent;
            }
            div.talktext {
              padding: 1em;
              text-align: left;
              line-height: 1.5em;
              ul {
                margin-top: 1rem;
                li {
                  margin: 0.5rem 0;
                  display: flex;
                  a {
                    text-decoration: none;
                    color: $fontColor;
                    font-size: $pFontSize;
                    &:hover {
                      color: $hoverColor;
                    }
                  }
                  p {
                    margin: 0 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    div.login {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;

        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          li {
            margin: 2rem 0;
            font-size: $pFontSize;
            display: flex;
            align-items: center;
            a {
              padding: 1.5rem;
              width: inherit;
              height: inherit;
              display: flex;
              flex-direction: row;
              align-items: center;
              i {
                margin-right: 1rem;
                color: yellow;
                font-size: $h1FontSize;
              }

              text-decoration: none;
              color: white;
              background-color: black;
              border-radius: 10px;
              font-size: $pFontSize;
            }
          }
        }
      }
    }

    div.register {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            margin: 2rem 0;
            font-size: $pFontSize;
            a {
              padding: 1.5rem;
              width: inherit;
              height: inherit;
              display: flex;
              flex-direction: row;
              align-items: center;
              i {
                margin-right: 1rem;
                color: yellow;
                font-size: $h1FontSize;
              }

              text-decoration: none;
              color: white;
              background-color: black;
              border-radius: 10px;
              font-size: $pFontSize;
            }
          }
        }
      }
    }

    div.user {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        font-size: $pFontSize;
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        div.article {
          display: flex;
          align-items: center;
          margin: 1rem 0;

          h1 {
            margin: 0 0.5rem;
          }
          button {
            margin: 0 0.5rem;
          }
        }
        p {
          margin: 1rem 0;
        }
        table {
          margin: 1rem 0;
          tr {
            margin: 1rem 0;
            td {
              padding: 0.5rem;
              a {
                text-decoration: none;
                color: $fontColor;
                &:hover {
                  color: $hoverColor;
                }
              }
            }
          }
        }
      }
    }

    div.create {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        font-size: $pFontSize;
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        div.title {
          display: flex;
          align-items: center;
          margin: 1rem 0;
        }
        div.content {
          width: 80%;
          display: flex;
          align-items: flex-start;
          margin: 1rem 0;
          flex-basis: 50px;
          label {
            flex-grow: 1;
            text-align: center;
          }
          textarea {
            padding: 0.5rem 0.5rem;
            flex-grow: 9;
            background-color: $btnBackgroundColor;
            border: dashed 2px $btnColor;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
            font-size: $pFontSize;
          }
        }
        div.submit {
          margin: 1rem 0;
        }
      }
    }

    div.save {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        font-size: $pFontSize;
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        table {
          margin: 1rem 0;
          tr {
            margin: 1rem 0;
            td {
              padding: 0.5rem;
              a {
                text-decoration: none;
                color: $fontColor;
                &:hover {
                  color: $hoverColor;
                }
              }
            }
          }
        }
      }
    }

    div.follow {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        font-size: $pFontSize;
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        table {
          margin: 1rem 0;
          tr {
            margin: 1rem 0;
            td {
              padding: 0.5rem;
              a {
                text-decoration: none;
                color: $fontColor;
                &:hover {
                  color: $hoverColor;
                }
              }
            }
          }
        }
      }
    }

    div.update {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.main {
        margin-top: 200px;
        padding: 4rem 2rem;
        background: transparent;
        width: 50vw;
        border: solid 7px #41403e;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            margin: 1rem 0;
            font-size: $pFontSize;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  div.message {
    left: 200px !important;
  }
  div.main {
    min-width: 700px;
  }
  div.comment {
    min-width: 600px;
    div.talk-bubble,
    div.tri-right,
    div.left-top {
      min-width: 530px;
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    div.wrap {
      nav {
        ul {
          position: absolute;
          top: 80%;
          left: 0;
          right: 0;
          background-color: $navColor;
          flex-direction: column;
          padding-left: 1rem;
          li {
            position: relative;
            &:hover {
              div.dropdown_menu {
                min-width: 110vw;
                display: block;
                position: absolute;
                left: -20px;
                background-color: $navColor;
                ul {
                  display: flex;
                  flex-direction: column;

                  li {
                    margin: 0;
                    padding: 0;
                    a {
                      font-size: 1.5rem;
                    }
                  }
                }
              }
            }
            div.dropdown_menu {
              display: none;
            }
          }
        }
      }
      div.message {
        top: 210px !important;
        left: 30px !important;
      }
      div.main {
        margin-top: 300px !important;
        min-width: 360px;
      }
      div.comment {
        min-width: 360px;
        div.talk-bubble,
        div.tri-right,
        div.left-top {
          min-width: 300px;
        }
      }
    }
  }
}
