* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body div.wrap {
  height: 100vh;
  background: -webkit-linear-gradient(#b499f8, #54d8c0);
  overflow-y: auto;
}
body div.wrap h1 {
  font-size: 3rem;
}
body div.wrap p {
  font-size: 1.5rem;
}
body div.wrap button.my-button {
  padding: 0.5rem 1rem;
  color: black;
  background: transparent;
  border: dashed 2px black;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
body div.wrap button.my-button span {
  height: 100%;
  width: 0;
  position: absolute;
  background-color: #73b7f8;
  transition: 0.5s;
  z-index: -1;
  left: 0;
  bottom: 0;
}
body div.wrap button.my-button:hover span {
  width: 100%;
}
body div.wrap input {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  background-color: transparent;
  height: 40px;
  width: 300px;
  border: dashed 2px black;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap nav {
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: 80px;
  background-color: #f0f5f5;
  padding: 1rem;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body div.wrap nav a {
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
body div.wrap nav a:hover {
  color: #8e669e;
}
body div.wrap nav ul {
  list-style: none;
  display: flex;
}
body div.wrap nav ul li {
  position: relative;
}
body div.wrap nav ul li:hover div.dropdown_menu {
  width: 200px;
  display: block;
  position: absolute;
  right: -4px;
  background-color: #f0f5f5;
}
body div.wrap nav ul li:hover div.dropdown_menu ul {
  display: flex;
  flex-direction: column;
}
body div.wrap nav ul li:hover div.dropdown_menu ul li {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}
body div.wrap nav ul li:hover div.dropdown_menu ul li a {
  font-size: 1.5rem;
}
body div.wrap nav ul li div.dropdown_menu {
  display: none;
}
body div.wrap div.message {
  position: absolute;
  top: 130px;
  left: 500px;
  color: red;
}
body div.wrap div.loading {
  margin-top: 250px;
  text-align: center;
}
body div.wrap div.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 50px;
  position: relative;
}
body div.wrap div.rating-0 {
  filter: grayscale(100%);
}
body div.wrap div.rating > input {
  display: none;
}
body div.wrap div.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}
body div.wrap div.rating > input:checked ~ label,
body div.wrap div.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
body div.wrap div.rating > input:not(:checked) ~ label:hover,
body div.wrap div.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
body div.wrap div.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.homepage div.main {
  margin-top: 200px;
  padding: 2rem;
  background: transparent;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.homepage div.main div.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.homepage div.main div.article div.title {
  display: flex;
  align-items: center;
}
body div.wrap div.homepage div.main div.article div.title h1 {
  margin: 0 0.5rem;
}
body div.wrap div.homepage div.main div.article div.title button {
  margin: 0 0.5rem;
}
body div.wrap div.homepage div.main div.article p {
  margin-top: 1rem;
}
body div.wrap div.homepage div.main div.author {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
}
body div.wrap div.homepage div.main div.author p {
  margin: 0 0.5rem;
}
body div.wrap div.homepage div.main div.author a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #550afe;
  font-size: 1.5rem;
}
body div.wrap div.homepage div.main div.author a:hover {
  color: #f0f5f5;
}
body div.wrap div.homepage div.main div.score {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
body div.wrap div.homepage div.main div.score p {
  margin: 0 0.5rem;
}
body div.wrap div.homepage div.main div.score button {
  margin: 0 0.5rem;
}
body div.wrap div.homepage div.main div.comment {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46vw;
  padding: 1.5rem;
  margin-top: 1rem;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble,
body div.wrap div.homepage div.main div.comment div.tri-right,
body div.wrap div.homepage div.main div.comment div.left-top {
  margin: 20px;
  display: inline-block;
  position: relative;
  width: 40vw;
  height: auto;
  background-color: #73b7f8;
  border: 8px solid #41403e;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble::before,
body div.wrap div.homepage div.main div.comment div.tri-right::before,
body div.wrap div.homepage div.main div.comment div.left-top::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #41403e transparent transparent transparent;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble::after,
body div.wrap div.homepage div.main div.comment div.tri-right::after,
body div.wrap div.homepage div.main div.comment div.left-top::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #73b7f8 transparent transparent transparent;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext ul,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext ul,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext ul {
  margin-top: 1rem;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext ul li,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext ul li,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext ul li {
  margin: 0.5rem 0;
  display: flex;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext ul li a,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext ul li a,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext ul li a {
  text-decoration: none;
  color: #550afe;
  font-size: 1.5rem;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext ul li a:hover,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext ul li a:hover,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext ul li a:hover {
  color: #f0f5f5;
}
body div.wrap div.homepage div.main div.comment div.talk-bubble div.talktext ul li p,
body div.wrap div.homepage div.main div.comment div.tri-right div.talktext ul li p,
body div.wrap div.homepage div.main div.comment div.left-top div.talktext ul li p {
  margin: 0 0.5rem;
}
body div.wrap div.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.login div.main {
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.login div.main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
body div.wrap div.login div.main ul li {
  margin: 2rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
body div.wrap div.login div.main ul li a {
  padding: 1.5rem;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 1.5rem;
}
body div.wrap div.login div.main ul li a i {
  margin-right: 1rem;
  color: yellow;
  font-size: 3rem;
}
body div.wrap div.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.register div.main {
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.register div.main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
body div.wrap div.register div.main ul li {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
}
body div.wrap div.register div.main ul li a {
  padding: 1.5rem;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 1.5rem;
}
body div.wrap div.register div.main ul li a i {
  margin-right: 1rem;
  color: yellow;
  font-size: 3rem;
}
body div.wrap div.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.user div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.user div.main div.article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
body div.wrap div.user div.main div.article h1 {
  margin: 0 0.5rem;
}
body div.wrap div.user div.main div.article button {
  margin: 0 0.5rem;
}
body div.wrap div.user div.main p {
  margin: 1rem 0;
}
body div.wrap div.user div.main table {
  margin: 1rem 0;
}
body div.wrap div.user div.main table tr {
  margin: 1rem 0;
}
body div.wrap div.user div.main table tr td {
  padding: 0.5rem;
}
body div.wrap div.user div.main table tr td a {
  text-decoration: none;
  color: #550afe;
}
body div.wrap div.user div.main table tr td a:hover {
  color: #f0f5f5;
}
body div.wrap div.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.create div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.create div.main div.title {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
body div.wrap div.create div.main div.content {
  width: 80%;
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
  flex-basis: 50px;
}
body div.wrap div.create div.main div.content label {
  flex-grow: 1;
  text-align: center;
}
body div.wrap div.create div.main div.content textarea {
  padding: 0.5rem 0.5rem;
  flex-grow: 9;
  background-color: transparent;
  border: dashed 2px black;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 1.5rem;
}
body div.wrap div.create div.main div.submit {
  margin: 1rem 0;
}
body div.wrap div.save {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.save div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.save div.main table {
  margin: 1rem 0;
}
body div.wrap div.save div.main table tr {
  margin: 1rem 0;
}
body div.wrap div.save div.main table tr td {
  padding: 0.5rem;
}
body div.wrap div.save div.main table tr td a {
  text-decoration: none;
  color: #550afe;
}
body div.wrap div.save div.main table tr td a:hover {
  color: #f0f5f5;
}
body div.wrap div.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.follow div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.follow div.main table {
  margin: 1rem 0;
}
body div.wrap div.follow div.main table tr {
  margin: 1rem 0;
}
body div.wrap div.follow div.main table tr td {
  padding: 0.5rem;
}
body div.wrap div.follow div.main table tr td a {
  text-decoration: none;
  color: #550afe;
}
body div.wrap div.follow div.main table tr td a:hover {
  color: #f0f5f5;
}
body div.wrap div.update {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.wrap div.update div.main {
  margin-top: 200px;
  padding: 4rem 2rem;
  background: transparent;
  width: 50vw;
  border: solid 7px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body div.wrap div.update div.main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
body div.wrap div.update div.main ul li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  div.message {
    left: 200px !important;
  }
  div.main {
    min-width: 700px;
  }
  div.comment {
    min-width: 600px;
  }
  div.comment div.talk-bubble,
  div.comment div.tri-right,
  div.comment div.left-top {
    min-width: 530px;
  }
}
@media screen and (max-width: 700px) {
  body div.wrap nav ul {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    background-color: #f0f5f5;
    flex-direction: column;
    padding-left: 1rem;
  }
  body div.wrap nav ul li {
    position: relative;
  }
  body div.wrap nav ul li:hover div.dropdown_menu {
    min-width: 110vw;
    display: block;
    position: absolute;
    left: -20px;
    background-color: #f0f5f5;
  }
  body div.wrap nav ul li:hover div.dropdown_menu ul {
    display: flex;
    flex-direction: column;
  }
  body div.wrap nav ul li:hover div.dropdown_menu ul li {
    margin: 0;
    padding: 0;
  }
  body div.wrap nav ul li:hover div.dropdown_menu ul li a {
    font-size: 1.5rem;
  }
  body div.wrap nav ul li div.dropdown_menu {
    display: none;
  }
  body div.wrap div.message {
    top: 210px !important;
    left: 30px !important;
  }
  body div.wrap div.main {
    margin-top: 300px !important;
    min-width: 360px;
  }
  body div.wrap div.comment {
    min-width: 360px;
  }
  body div.wrap div.comment div.talk-bubble,
  body div.wrap div.comment div.tri-right,
  body div.wrap div.comment div.left-top {
    min-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */