<nav>
  <a href="/home"><i class="fa-solid fa-house"></i> 首頁</a>
  <ul>
    <li><a href="/login">登入</a></li>
    <li><a href="/register">加入會員</a></li>
    <li>
      <a href="#">會員專區 <i class="fas fa-caret-down"></i> </a>
      <div class="dropdown_menu">
        <ul>
          <li><a href="/user">我的文章</a></li>
          <li><a href="/create">新增文章</a></li>
          <li><a href="/save">查看"已追蹤"</a></li>
          <li><a href="/follow">查看"已收藏"</a></li>
          <li><a href="/update">編輯個人資訊</a></li>
          <li><a href="#">登出</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
