<nav class="navbar navbar-expand-lg bg-body-tertiary effect7">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-house"></i>首頁</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">登入</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">加入會員</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            會員專區
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">新增文章</a></li>
            <li><a class="dropdown-item" href="#">查看已追蹤的作者</a></li>
            <li><a class="dropdown-item" href="#">查看已收藏的文章</a></li>
            <li><a class="dropdown-item" href="#">編輯個人資訊</a></li>
            <li><a class="dropdown-item" href="#">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
